*{
    background-color:#102C57;
}
h1{
    
    color:#FEFAF6;
    text-align:center;
}
p{
    color:#FEFAF6;
    font-size:15px;
    font-family:Suisse Intl,Helvetica,Arial,sans-serif;
}
.homepage{
    display:flex;
    flex-direction:column;
 align-items:center;
 
}
.homepage img{
    width:100px;
    border:1px black solid;
    border-radius:50%;
}
.Window{
    display:flex;
    flex-direction:column;
    justify-content:center;

}
.information{
    margin-right:20px;
    display:flex;
    justify-content:flex-end;
    gap:10px;;
}
.homepage{
    display:flex;
    flex-direction:column;
    margin-top:20%;
}
a:link {
    color:#EEEEEE;

    text-decoration: none;
  }
  
  
  
  a:hover {
    color: #FFE3CA;
 
    text-decoration: underline;
  }
  
  a:active {
    color: yellow;
    
    text-decoration: underline;
  }
  
 h1 {
    overflow:hidden;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    border-right: .15em solid orange; /* The typewriter cursor */
    animation: typing 2.5s steps(27, end) forwards, blink-caret 0s step-end infinite;
  }
  
  @keyframes typing {
    from { width: 0; }
    to { width: 100%; }
  }
  
  @keyframes blink-caret {
    from, to { border-color: transparent; }
    50% { border-color: orange; }
  }
  .socialmedia img{
    width:60px;
    }
  .socialmedia{
    margin-top:15px;
    display:flex;
    flex-direction:row;
    gap:50px;
    justify-content: center;
  }

